<table>
    {{#each men}}
    <tr>
        <td>id: {{id}}</td>
        <td>płeć: {{plec}}</td>
    </tr>
    {{/each}}
</table>
<table>
    {{#each unmen}}
    <tr>
        <td>id: {{id}}</td>
        <td>płeć: {{plec}}</td>
    </tr>
    {{/each}}
</table>