<header style="background-color: yellow;color:black;">
    <ul>
        <li><a href="/admin/sort" style="color: black; text-decoration:underline;">sort</a></li>
        <li><a href="/admin/gender" style="color: black; text-decoration:underline;">gender</a></li>
        <li><a href="/admin/show" style="color: black; text-decoration:underline;">show</a></li>
    </ul>
</header>
<h1>Admin page</h1>